
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
    color: white;
    background-color: #2C353C;
}

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
}

ul { padding: 0; }
a:hover { text-decoration: none; }
button:focus { outline: none; }
p { line-height: 1.9; }
.tm-logo { margin-right: 20px; }
.tm-slogan { font-size: 0.8rem; }

/* Navigation */
.navbar-toggler {
    padding: 8px 15px;
    border: 0;
    border-radius: 0;
    transform: skewX(-15deg);
    background-color: rgba(0,0,0,0.5);
    color: white;    
}

.navbar-toggler i { transform: skewX(15deg); }

.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link { padding: 0; }

.navbar-expand-lg .navbar-nav .tm-nav-link {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;    
    padding-bottom: 30px;    
}

.nav-item { margin-right: 60px; }

.nav-item:last-child { margin-right: 0; }

.nav-item.active .tm-nav-link,
.nav-item:hover .tm-nav-link {
    color: #9CC;
}

.logo-img { height: 150px;}

/* Page Background */
.tm-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1000;
}

.tm-bg-left,
.tm-bg-right {
    position: relative;
    width: 50%;
    height: 100%;
}

.tm-bg-right { background-color: rgba(0,0,0,0.5); }

.tm-bg-left {
    border-right: 230px solid rgba(0,0,0,0.5);
    border-top: 100vh solid transparent;
}

.tm-bg-controls-wrapper {
    display: inline-block;
    margin-left: -150px;
}

.tm-bg-control {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,0.5);
    margin: 6px;
    cursor: pointer;
}

.tm-bg-control.active,
.tm-bg-control:hover {
    background-color: white;
}

.tm-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.tm-row { display: flex; }

.tm-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;  
    padding-right: 40px;
}

.tm-col-right {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.tm-content {
    max-width: 660px;
    padding-right: 20px;
}

.tm-about { max-width: 525px; }

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 0 1px rgba(255,255,255,.8);
}

.tm-content-title { font-size: 1.5rem;}
.tm-content-title-2 { font-size: 1.25rem;}
.tm-content-title-3 { font-size: 1.00rem;}

hr { border-top: 1px solid white; }

.btn {
    padding: 10px 25px;
    border-radius: 0;
}

.btn-big {
    padding: 9px 40px;
    font-size: 1.2rem;;
}

.btn-primary {
    background-color: white;
    color: black;
    border: 0;
}

.btn-primary:hover {
    background-color: #9CC;
    color: black;
}

.tm-site-footer {
    padding: 40px 0 20px;
    max-width: 660px;
    font-size: 0.95rem;
}

.tm-col-footer { padding-left: 0; }
.tm-text-link { color: white; }

.tm-text-link:hover,
.tm-text-link:focus {
    color: #9CC;
}

/* Service */ 
.tm-service-text { max-width: 365px; margin-top: 10%; text-align: center;}
.tm-service-img { margin-right: 25px; border-radius: 50%;}
.tm-service-img-r { margin-left: 25px; border-radius: 50%;}

/* Contact */
.form-control,
textarea {    
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #999A9B;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 10px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.form-control:focus {
    color: white;
    background-color: transparent;    
    box-shadow: none;
    border-color: #9CC;
    outline: none;
}

.mb-85 { margin-bottom: 85px; }
.tm-contact-main { max-width: 690px; }

.tm-contact {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.tm-contact a, i{
    margin-left: auto;
    margin-right: 10px;
    color: #fff;
}

.form-control::-webkit-input-placeholder { color: white; } /* Edge */  
.form-control:-ms-input-placeholder { color: white; } /* Internet Explorer 10-11 */  
.form-control::placeholder { color: white; }

@media (max-width: 1200px) {
    .nav-item { margin-right: 30px; }

    .tm-page-right {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 992px) {    
    .tm-nav {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        top: 44px;
        right: 4px;
    }

    .navbar-expand-lg .navbar-nav .tm-nav-link {
        color: white;
        font-size: 1.1rem;
        padding: 13px 20px;
    }

    .nav-item { margin-right: 0; }

    .nav-item.active .tm-nav-link,
    .nav-item:hover .tm-nav-link {
        color: #9CC;
    }

    .tm-content { margin-top: 20px; }
    .tm-site-footer { padding-top: 40px; }
    .tm-col-left { width: 40%; }

    .tm-col-right {
        width: 60%;
        padding-left: 100px;
        padding-right: 30px;
    }
    
    .tm-col-footer { padding-left: 0; }
}

@media (max-width: 768px) {
    .tm-row { flex-direction: column; }

    .tm-col-left,
    .tm-col-right,
    .tm-bg-left,
    .tm-bg-right {
        width: 100%;
    }

    #tm-main-nav {
        position: fixed;
        top: 50px;
        right: 40px;
        padding-bottom: 0;
    }  
    
    .tm-bg { flex-direction: column; }

    .tm-bg-left {
        height: 200px;        
        border-bottom: 50px solid rgba(0,0,0,0.5);
        border-right: 0;
        border-top: 0;
    }

    .tm-bg-right { height: calc(100% - 200px); }

    .tm-bg-controls-wrapper {
        margin-left: 0;
        margin-top: 50px;
    }

    .tm-content {
        max-height: none;
        margin-top: 40px;
    }

    .tm-col-right {
        padding-top: 40px;
        padding-left: 30px;
    }

    .tm-col-footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 460px) {
    .tm-logo { margin-right: 15px; }
    .tm-sitename { font-size: 1.8rem; }
    .tm-slogon { font-size: 0.8rem; }
}

@media (max-width: 450px), (min-width: 768px) and (max-width: 830px), (min-width: 992px) and (max-width: 1040px) {
    .tm-service-media { flex-direction: column; }
    .tm-service-media-img-l { flex-direction: column-reverse; }
    .tm-service-text { margin-top: 20px; }
    .tm-service-img { margin-right: 0; }
    .tm-service-img-r { margin-left: 0; }
}


/* Filterable nav */
.filterable-nav { display: inline-block; margin: 0 auto; margin-bottom: 50px; }
.filterable-nav .mobile-filter { display: none; }
.filterable-nav a { padding: 5px; display: inline-block; margin: 0 10px; color: #dfdfdf; text-transform: uppercase; font-family: "Novecento Sans", "Open Sans", sans-serif; position: relative; font-size: 12px; font-size: 0.75rem; }
.filterable-nav a:after { content: " "; width: 100%; height: 2px; position: absolute; bottom: 0; left: 0; background-color: #fff; opacity: 0; -webkit-transition: .3s ease; transition: .3s ease; }
.filterable-nav a.current:after, .filterable-nav a:hover:after { opacity: 1; }

/* Filterable items */
.filterable-items .filterable-item { -webkit-transition-property: -webkit-transform, opacity; transition-property: transform, opacity; -webkit-transition-duration: .3s; transition-duration: .3s; }

.filterable-items { margin: 0 -15px; }

.filterable-item { padding: 0 15px; width: 24.9%; float: left; }
@media screen and (max-width: 768px) { .filterable-item { width: 50%; } }
@media screen and (max-width: 480px) { .filterable-item { width: 100%; } }

/**** disabling Isotope CSS3 transitions ****/
.filterable-items.no-transition, .filterable-items.no-transition .filterable-item, .filterable-items .filterable-item.no-transition { -webkit-transition-duration: 0s; transition-duration: 0s; }

.gallery-item { margin-bottom: 30px; }
.gallery-item figure img { width: 100%; max-width: 100%; display: block; height: auto; margin-bottom: 0; }
.gallery-item figure figcaption { background-color: #1b181b; padding: 15px 20px 17px; position: relative; }
.gallery-item figure figcaption:after { content: " "; right: 0; height: 2px; background-color: #cc7250; background-image: -webkit-linear-gradient(90deg, #cc7250, #f7d0c2); bottom: 0; left: 0; position: absolute; display: block; }
.gallery-item figure .gallery-title { margin: 0; font-size: 12px; font-size: 0.75rem; font-family: "Novecento Sans", "Open Sans", sans-serif; text-transform: uppercase; color: white; font-weight: 400; }
.gallery-item figure p { font-size: 14px; font-size: 0.875rem; margin: 0; }

